<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.title %></title>
</head>
<body>
    <h2>Listing Details</h2>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li>&#x20B9 <%= listing.price.toLocaleString("en-IN") %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= listing._id %>/edit">edit this listing</a>
    <a href="/listings/<%= listing._id %>/delete">delete this listing</a>
</body>
</html>